{% load static %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.fillbetween.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'vendors/flot/jquery.flot.pie.js' %} "></script>
<script src="{% static 'vendors/js/vendor.bundle.base.js' %} "></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %} "></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'js/dashboard.js' %}"></script>
<!-- End custom js for this page -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
